@import url(reset.css);

:root {
    --cor-primaria: #5b60f5;
    --cor-secundaria: #375ec2;
    --cor-fonte-primaria: #8A8A8A;
    --neutro: #F9F9F9;
    --preto: #131730;
    --fonte-titulo: "Krona One", sans-serif;
    --fonte-texto: 'Numans', sans-serif;
    --degrade: linear-gradient(180deg, #000000 0%, #271b60 100%);
}
*{
    font-family: var(--fonte-texto);
}
body {
    background: var(--degrade);
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: var(--fonte-texto);
}
.interacao{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    width: 100%;
}
.container__principal{
    border-radius: 1rem;
    display: flex;
    padding: 3.5em 5% 5em ;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    background: var(--neutro);
    box-shadow: 4px 8px 8px 0px rgba(0, 0, 0, 0.08);
    margin: 4em 2.5% 1em;
    max-width: 27.5em;
}
.img{
    width: 10em;
    height: 10em;
    margin-bottom: 1.5em;
}
.inserir__item{
    border-radius: 1.5rem;
    border: 1px solid var(--preto);
    background: transparent;
    padding: 0.75em 1em;
    width: 20em;
    font-family: var(--fonte-texto);
    color: var(--preto);
}
.inserir__item::placeholder{
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: 0.95rem;
    font-weight: 400;
    line-height: 1.1875rem;
}
.inserir__item:hover,.inserir__item:focus{
    border: 2px solid var(--cor-secundaria);
    outline: none;
}
.botao__adicionar{
    color: var(--neutro);
    display: flex;
    padding: 0.75rem 1rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    font-family: Numans;
    font-size: 1.125rem;
    line-height: 1.5rem;
    border-radius: 1.5rem;
    background: var(--cor-primaria);
    border: none;
    box-shadow: 0px 0px 8px 0px rgba(58, 224, 174, 0.625);
}
.botao__adicionar:hover{
    background-color: var(--cor-secundaria);
    font-weight: 600;
}
.botao__adicionar:active{
    background-color: transparent;
    color: var(--cor-secundaria);
    border: 2px solid var(--cor-secundaria);
}
.lista__de__compras{
    display: flex;
    flex-direction: column;
}
.lista__titulo{
    color: var(--cor-primaria);
    font-family: var(--fonte-titulo);
    font-size: 1.25rem;
}
.divisor{
    border: 2px dotted var(--cor-primaria);
    width: 100%;
    margin: 0.5em 0 1.5em;
}
.lista__carrinho{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.lista__item{
    color: var(--preto);
    font-family: var(--fonte-texto);
    font-size: 1.125rem;
    line-height: 1.5rem;
    display: flex;
    flex-direction: column;
}
.rodape__texto{
    color: var(--neutro);
    font-family: var(--fonte-texto);
    font-size: 1rem;
    line-height: 1.25rem;
}
.invisivel{
    display: none;
}
.item__container{
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.item{
    display: flex;
    align-items: center;
    gap: 0.5em;
}
.opcoes__lista{
    display: flex;
    align-items: center;
    gap: 0.5em;
}
.opcao__lista{
    background: transparent;
    border: none;
}
.comprado{
    text-decoration-line: line-through;
}
.data__horario{
    text-decoration: solid;
}
.checkbox-input{
    display: none;
}
.checkbox-customizado{
    width: 1.25em;
    height: 1.25em;
    background-color: var(--neutro);
    border: 1px solid var(--preto);
    cursor: pointer;
    border-radius: 0.25em;
    margin-right: 0.5em;
}
.checked{
    background-color: var(--preto);
    position: relative;
}
.checked::after{
    content: "";
    position: absolute;
    left: 35%;
    top: 10%;
    width: 5px;
    height: 14px;
    border-top: 2px solid var(--neutro);
    border-left:2px solid var(--neutro);
    transform: rotate(-140deg);
}
@media screen and (max-width: 350px) {
    .container__principal{
        padding: 3.5em 2% 5em ;
    }
}